* {
  padding: 0;
  margin: 0;
}

body {
  background: #396afc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  display: flex;
  justify-content: center;
}

.texts{
    margin: 12px;
    color: azure;
    background-color: #1d2b53;
}

#btn {
  margin-top: 15px;
  width: 12vw;
  height: 9vh;
  border-radius: 4%;
}

#title {
  text-align: center;
}
section > h2 {
  text-align: center;
}

p {
  padding: 5px 12px;
}
.t-center {
  text-align: center;
  text-transform: capitalize;
  font-size: larger;
  font-weight: bolder;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.p-img {
  width: 45vw;
  height: 60vh;
}

footer {
  background: rgb(14, 32, 139);
  padding: 20px 20px;
  text-align: left;
  height: 40vh;
}


table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px 12px;
  width: 100%;
  display: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: center;
  font-weight: 700;
}

table tr:nth-child(even) {
  background-color: #396afc;
}

table tr:nth-child(odd) {
  background-color: #2948ff;
}

table th {
  background-color: black;
  color: white;
}
figcaption {
  text-align: center;
  width: 100%;
}
#img-div {
    margin-top: 20px;
}

#image {
  display: block;
  max-width: fit-content;
  max-height: 60vh;
  width: 75vw;
  height: auto;
  margin: auto;
}
footer {
  color: azure;
}
#tribute-link {
  font-size: 3vh;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}
